[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "numpy>=2.3.4",
    "pandas>=2.3.3",
    "plotly>=6.4.0",
    "pytest>=9.0.0",
    "python-dateutil>=2.9.0.post0",
    "rapidfuzz>=3.14.3",
]
